.treasure-chest {
    cursor: pointer;
    width: 350px;
    padding: 10px;
}

.treasure-chest:hover {
    background-color: rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 10px 5px gold;
    border-radius: 2%;
}

@media screen and (max-width: 600px) {
    .treasure-chest {
        width: 65%;
    }
}